.fl {float: left;}
.fr {float: right;}
.clear {clear: both;}
.mt {margin-top: 10px;}
.ml {margin-left: 10px;}
.mr {margin-right: 10px;}
.mb {margin-bottom: 10px;}
.pt {padding-top: 10px}
.pl {padding-left: 15px;}
.pr {padding-right: 15px;}
.pb {padding-bottom: 10px;}
.tl {text-align: left;}
.tr {text-align: right;}